.fiszka {
    background-color: rgb(255, 255, 255);
    width: 15vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    border-radius: 15px;
    flex-wrap: wrap;
    align-items: center;
    
}
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#fiszkaWall {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}